LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDI_ICON1 ICON "@RAAD_WINDOWS_ICON_ICO_RC@"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION @RAAD_RC_FILE_VERSION@
 PRODUCTVERSION @RAAD_RC_PRODUCT_VERSION@
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "@RAAD_VENDOR@"
            VALUE "FileDescription", "@RAAD_PACKAGE_SUMMARY@"
            VALUE "FileVersion", "@PROJECT_VERSION@"
            VALUE "InternalName", "@APP_NAME@"
            VALUE "LegalCopyright", "@RAAD_COPYRIGHT@"
            VALUE "OriginalFilename", "@APP_NAME@.exe"
            VALUE "ProductName", "@APP_NAME@"
            VALUE "ProductVersion", "@PROJECT_VERSION@"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
